*{
    margin: 0px;
}
body{
    background-color: aqua;
    display: flex;
    justify-content: center;
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
}
.contener{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px slategray;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.user1, .user2, .user3, .user4{
    display: flex;
    width: 460px;
    padding: 10px;

}

.user1 h3, .user2 h3, .user3 h3, .user4 h3{
    margin-top: 30px;
}
hr{
    width: 80%;
    color: aliceblue;
    border-color: rgb(225, 214, 200) ;
}
p{
    color: rgb(74, 53, 27);
}